@using BlogProject.Models
@using BlogProject.Services
@using BlogProject.Enums
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common


@inject IImageService imageService
@model IPagedList<Post>

<div class="container-fluid">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-8 col-xl-7">
            <div class="row">
                @foreach (var post in Model)
                {
                    <div class="col-sm-2 col-lg-4 mt-3">
                        <div class="card border-primary border-1 rounded" style="width: 22rem; height: 33rem;">
                            <img class="card-img-top" height="185" width="200" src="@imageService.DecodeImage(post.ImageData,  post.ContentType)" />
                            <div class="card-body text-center">
                                <div>
                                    <hr class="card-hr" />
                                    <h5 class="card-title">@post.Title</h5>
                                    <hr class="card-hr" />
                                </div>
                                <div>
                                    <p class="card-text">@post.Abstract</p>
                                </div>

                                <br />
                                <div class="text-center">
                                    <a class="btn btn-dark mb-2" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

            <hr />

        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12 gx-3 h2">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div class="col-2 gx-3">
                @if (Model.PageCount >= 1)
                {
                    Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page, searchTerm = ViewData["SearchTerm"] }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" }
                        });
                }
            </div>
        </div>
    </div>
</div>
